html{
    background-color: navajowhite;
}
.container-fluid {
    background-color: navajowhite;
}

input[type="text"]{
    background: transparent;
}

input[type="text"]{
    background: transparent;
}